[Desktop Entry]
Version=1.0
Type=Application

Name=FFaudiocue
Comment=Extracts audio tracks from an audio CD image using FFmpeg.
Categories=AudioVideo;AudioVideoEditing;

Icon=ffaudiocue
Exec=ffaudiocue
Terminal=false
