[Desktop Entry]
Version=1.0
Type=Application
Name=FFaudiocue
Comment=Official GUI to FFcuesplitter for audio CDs images extracting.
Categories=AudioVideo;
Icon=ffaudiocue
StartupNotify=true
StartupWMClass=ffaudiocue
Exec=ffaudiocue
Terminal=false
